@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    --header-color: #22223b;
    --dipanshu: #c9ada7;
    --about: #cbc0d3;
    --skills: #f2e9e4;
    --social-media: #c9ada7;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: var(--about);
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 70px;
    background: var(--header-color);
    box-shadow: 0px 3px 10px 0px rgba(34, 34, 34, 0.493);
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
    color: white;
}

header h1 {
    font-weight: 500;
}

header ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 60px;
}

header ul>li {
    font-size: 16px;
}

header ul>li>a:hover {
    font-size: 16.5px;
    color: rgb(194, 194, 194);
    border-bottom: 3px solid rgb(255, 255, 255);
}

.dipanshu {
    background: var(--dipanshu);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 150px;
}

.name-section>h1 {
    font-size: 50px;
    color: var(--header-color);
}

.name-section>h2 {
    font-size: 40px;
    font-weight: 500;
    color: var(--header-color);
}

.name-section button {
    background: var(--header-color);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.name-section button:hover {
    background-color: var(--skills);
}

.dipanshu-img {
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
}

.social-media,
.skills,
.about {
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: 30px;
}

.social-media {
    background: var(--social-media);
}

.skills {
    background-color: var(--skills)
}

.about {
    background-color: var(--about);
    grid-template-columns: repeat(2, 1fr);
}

.about-me h1 {
    font-size: 60px;
}

.about-me p {
    font-size: 22px;
}

.contact {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 500;
    align-items: center;
    padding: 50px 0px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--header-color);
    color: white;
}

.contact-form {
    padding: 20px 30px;
    border-radius: 20px;
    width: 50vw;
    box-shadow: 0px 2px 20px 0px rgb(160, 103, 103);
}